<div id="welcome" class="gradient-border bb bw4-l bt-0" style="border-color: #363a58; background-image: linear-gradient(#363a58, #363a58), linear-gradient(#363a58, #363a58)">
  <header toc-none style="background: #363a58 url(../images/introduction/pattern-welcome.png) no-repeat center">
    <div>
      <h1 class="white ph3">Photon Design System</h1>
      <p class="white ph3">Launch recognizable, enjoyable Firefox products &amp; features faster.</p>
    </div>
  </header>

  <div class="center mw8 pv5-l pv4">
    <section class="ph5-ns">
      <% include includes/introduction/introduction-welcome-features.html %>
      <p class="tc pt4">
        <a href="introduction/getting-started.html">
          <button>Get Started!</button>
        </a>
      </p>
    </section>
    <!-- <section class="ph5-ns">
      <% include includes/introduction/introduction-welcome-values.html %>
    </section> -->
  </div>
</div>
